@model BaiLam4.Models.Entity.Cata_Product
@using BaiLam4.Models.Entity

<div class="pro">
<div class="navigation-agileits">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" class="act">Home</a></li>
                    <!-- Mega Menu -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Beverages<b class="caret"></b></a>
                        <ul class="dropdown-menu multi-column columns-3">
                            <div class="row">
                                <div class="multi-gd-img">
                                    <ul class="multi-column-dropdown">
                                        <h6>Tea & Coeffe</h6>
                                        <li><a href="#">Green Tea</a></li>
                                        <li><a href="#">Ground Coffee</a></li>
                                        <li><a href="#">Herbal Tea</a></li>
                                        <li><a href="#">Instant Coffee</a></li>
                                        <li><a href="#"> Tea </a></li>
                                        <li><a href="#">Tea Bags</a></li>
                                    </ul>
                                </div>
                            </div>
                        </ul>
                    </li>
                    <li><a href="#">Gourmet</a></li>
                    <li><a href="#">Offers</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- //main navigation -->
<!--- main content --->
<div class="products">
    <div class="container">
        <!-- left categories -->
        <div class="col-md-4 products-left">
            <div class="categories">
                <h2>@Html.ActionLink("Nguyễn Thị Ngũ", "Create")</h2>
                <ul class="cate">
                    @foreach (var i in Model.category)
                    {
                        <li id="@i.Id"><i class="fa fa-arrow-right" aria-hidden="true">@i.NameVN</i></li>
                    }
                </ul>
            </div>
        </div>
        <!-- /left categories -->
        <!-- right products grid -->
        <div class="col-md-8 products-right">
            <div class="agile_top_brands_grids">
                @foreach (var x in Model.product)
                {
                    <div class="col-md-4 top_brand_left">
                        <div class="hover14 column">
                            <div class="agile_top_brand_left_grid">
                                <div class="agile_top_brand_left_grid1">
                                    <figure>
                                        <div class="snipcart-item block">
                                            <div class="snipcart-thumb">
                                                <a href="single.html"><img title=" " alt=" " src="~/Content/images/@x.Image"></a>
                                                <p>@x.Name</p>
                                                <h4>$@x.UnitPrice <span>$55.00</span></h4>
                                            </div>
                                            <div class="snipcart-details top_brand_home_details">
                                                <form action="#" method="post">
                                                    <fieldset>
                                                        <input type="hidden" name="cmd" value="_cart">
                                                        <input type="hidden" name="add" value="1">
                                                        <input type="hidden" name="business" value=" ">
                                                        <input type="hidden" name="item_name" value="Fortune Sunflower Oil">
                                                        <input type="hidden" name="amount" value="35.99">
                                                        <input type="hidden" name="discount_amount" value="1.00">
                                                        <input type="hidden" name="currency_code" value="USD">
                                                        <input type="hidden" name="return" value=" ">
                                                        <input type="hidden" name="cancel_return" value=" ">
                                                        <input type="submit" name="submit" value="Add to cart" class="button">
                                                    </fieldset>
                                                </form>
                                            </div>
                                        </div>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                }
              
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="clearfix"> </div>
        <!-- right products grid -->
    </div>
</div>
    </div>
<script>
    $("li").click(function (e) {
        var id = $(this).attr("id");
        console.log(id);
        $.ajax({
            url: "RenderbyCata",
            data: { Id: id },
            success: function (res) {
                $("div.pro").html(res);
            }
        });
    })
</script>