@model IEnumerable<LeDinhMinh_211204113.Models.Entities.NavItems>
<div class="navigation-agileits">
    <div class="container">
        <nav class="navbar navbar-default">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header nav_2">
                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" class="act">Le Dinh Minh</a></li>
                    <!-- Mega Menu -->
                    @foreach (var l in Model)
                    {
                        <li><a>@l.NavName</a></li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>
